@import '../_vars';
@import '_m';

.clearfix {
	content: '';
	display: table;
	clear: both;
}
.transition {
	transition: 0.1s;
}
.transition-hover {
	transition: 0.3s;
}
.gpl {
	padding-left: 20px;
}
.gpr {
	padding-right: 20px;
}
